<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/index.css">


</head>


<body>
    <div id="particles-js"></div>

    <br>
    <br>

    <div id="user">

        <span>نوبت شما</span>
        <span>نام حریف</span>
    </div>

    <div id="all_picture">

        <img src="/static/img/3.png" alt="" class="images">
        <img src="/static/img/3.png" alt="" class="images">
        <img src="/static/img/3.png" alt="" class="images">
        <img src="/static/img/3.png" alt="" class="images">
        <img src="/static/img/3.png" alt="" class="images">
        <img src="/static/img/3.png" alt="" class="images">
        <img src="/static/img/3.png" alt="" class="images">
        <img src="/static/img/3.png" alt="" class="images">
        <img src="/static/img/3.png" alt="" class="images">



    </div>



    <script src="/static/scripts/jquery-3.7.1.min.js"></script>

    <script>


        let circle = 0
        let multiplication = 0
        let counter = 0





        $('.images').click(function () {
            counter++
            // if (counter < 7) {
            if ($(this).attr('src') === "/static/img/3.png") {

                var snd = new Audio("/static/Voice/add.mp3");
                snd.play();


                if (counter % 2 === 0) {
                    if (multiplication < 3) {
                        $(this).attr('src', "/static/img/2.png")
                        multiplication++
                    }
                }
                else {
                    if (circle < 3) {

                        $(this).attr('src', "/static/img/1.png")
                        circle++
                    }
                }
            }

            // }

        })
        $('.images').dblclick(function () {

            var snd = new Audio("/static/Voice/delete.mp3");
            snd.play();

            if ($(this).attr('src') === "/static//img/2.png") {
                multiplication--
                $(this).attr('src', "/static/img/3.png")
            }
            if ($(this).attr('src') === "/static/img/1.png") {
                circle--
                $(this).attr('src', "/static/img/3.png")
            }
        })
    </script>







    </div>
</body>
<script src="/static/scripts/particles.min.js"></script>
<!-- <script src="http://threejs.org/examples/js/libs/stats.min.js"></script> -->
<script src="/static/scripts/index.js"></script>

</html>